.update-box {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 40px;
}

.update-box h3 {
  font-size: 25px;
  text-decoration: underline;
  padding: 0;
  margin: 5px;
}

.update-box p {
  font-size: 18px;
}

.past-results-box {
  text-align: center;
  width: 101.15%;
  margin: 0 0 -60px -20px;
  margin-top: 0;
  margin-bottom: -60px;
  padding: 10px;
}

.past-results-box h3 {
  font-size: 25px;
  text-decoration: underline;
  padding: 0;
  margin: 5px;
}

.columns {
  display: table;
  width: 100%;
  margin: 23px 10px;
}

.past-tuesday, .past-wednesday {
  display: table-cell;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  font-size: 18px;
  text-align: left;
  width: 50%;
  padding: 10px;
}

.past-tuesday {
  background: linear-gradient(90deg, rgb(2, 2, 200) 30%, rgb(200, 0, 0) 75%);
  border-right: 5px solid black;
  border-left: 2px solid white;
}

.past-wednesday {
  background: linear-gradient(90deg, rgb(200, 0, 0) 30%, rgb(2, 2, 200) 75%);
  border-left: 5px solid black;
  border-right: 2px solid white;
}

.past-tuesday h3, .past-wednesday h3 {
  font-size: 23px;
  text-align: center;
}

.past-tuesday p, .past-wednesday p {
  font-size: 22px;
  margin-bottom: 0;
}

@media only screen and (max-width: 1300px) {
  .columns {
    display: inline-block;
  }

  .past-tuesday, .past-wednesday {
    display: table;
    border: 2px solid purple;
  }

  .past-tuesday {
    width: 101.32%;
    margin: 10px 5px 5px 5px;
  }

  .past-wednesday {
    width: 100%;
    margin: 5px;
  }
}

.past-elim {
  display: table;
  width: 100%;
  padding: 10px;
  margin: -5px, 0, 0, 0;
}

.past-elim ol {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.game1, .game2, .game3 {
  display: table-cell;
  width: 33%;
}

.game1 p, .game2 p, .game3 p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.cut {
  background-color: black;
}

.past-hg {
  display: table;
  width: 100%;
  padding: 10px;
  margin: -5px, 0, 0, 0;
}

.past-hg ol {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.past-md {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: -5px, 0, 0, 0;
}

.past-md .game3 {
  display: inline-block;
  width: 100%;
}

.past-md ol {
  list-style: none;
  text-align: center;
  padding-left: 0;
}