.update-box {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 40px;
}

.update-box h3 {
  font-size: 25px;
  text-decoration: underline;
  padding: 0;
  margin: 5px;
}

.dothan h4 {
  font-size: 22px;
}

.dothan a {
  text-decoration: none;
  border: 2px solid yellow;
  padding: 5px;
}

.update-box p {
  font-size: 18px;
}

.past-results-box {
  text-align: center;
  width: 101.15%;
  padding: 10px;
  margin: 0 0 -40px -20px;
}

.past-results-box h3 {
  font-size: 25px;
  text-decoration: underline;
  padding: 0;
  margin: 5px 5px 15px 5px;
}

.past-results-box a {
  font-size: 19px;
  padding: 10px;
}

.columns {
  display: table;
  width: 100%;
  margin: 23px 10px;
}

.past-tuesday, .past-wednesday {
  display: table-cell;
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
  font-size: 18px;
  text-align: left;
  width: 50%;
  padding: 10px;
}

.past-tuesday {
  background: linear-gradient(90deg, rgb(2, 2, 200) 30%, rgb(200, 0, 0) 75%);
  border-right: 5px solid black;
  border-left: 2px solid yellow;
}

.past-wednesday {
  background: linear-gradient(90deg, rgb(200, 0, 0) 30%, rgb(2, 2, 200) 75%);
  border-left: 5px solid black;
  border-right: 2px solid yellow;
}

.past-tuesday h3, .past-wednesday h3 {
  font-size: 24px;
  text-align: center;
}

#full-results {
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .columns {
    display: block;
  }

  .past-tuesday, .past-wednesday {
    display: table;
    border: 2px solid yellow;
  }

  .past-tuesday {
    width: 101.22%;
    margin: 10px 5px 5px 5px;
  }

  .past-wednesday {
    width: 101.22%;
    margin: 5px;
  }
}

.mini-columns {
  display: table;
  width: 100%;
}

.past-elim p, .past-hg p, .past-md p {
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0;
}

.past-elim {
  display: table-cell;
  width: 50%;
  padding: 10px;
  margin: -5px, 0, 0, 0;
}

.past-elim ol {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.past-hg {
  display: table-cell;
  width: 100%;
  padding: 10px;
  margin: -5px, 0, 0, 0;
}

.past-hg ol {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.past-md {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: -5px, 0, 0, 0;
}

.past-md ol {
  text-align: center;
  list-style: none;
  padding-left: 0;
}