#site-title {
  height: 25px;
  margin-bottom: 5px;
}

#section-title {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cut {
  color: red;
}

img {
  height: 800px;
  width: 650px;
  margin-top: 0px;
}
