.collection-box {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 40px;
}

.collection-box h3 {
  font-size: 25px;
  text-decoration: underline;
  padding: 0;
  margin: 5px;
}

.collection-box p {
  font-size: 18px;
}

.days-box {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0 0 0;
}

.columns {
  display: table;
  width: 101.35%;
  margin-left: -12px;
}

.tuesday-box, .wednesday-box {
  display: table-cell;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  font-size: 18px;
  text-align: left;
  width: 50%;
  padding: 10px;
}

.tuesday-box {
  background: linear-gradient(90deg, rgb(2, 2, 200) 30%, rgb(200, 0, 0) 75%);
  border-left: solid 2px white;
  border-right: solid 4px black;
}

.wednesday-box {
  background: linear-gradient(90deg, rgb(200, 0, 0) 30%, rgb(2, 2, 200) 75%);
  border-right: solid 2px white;
  border-left: solid 4px black;
}

.tuesday-box h3, .wednesday-box h3 {
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
}